# .env.example

# Railway will set DB and Redis variables (DATABASE_URL, REDIS_URL) automatically.

# Application Secrets
SECRET_KEY="your_very_secret_key_here"

# Admin Credentials
ADMIN_EMAIL="roy.jamshaid@gmail.com"
ADMIN_PASSWORD="Jamshaid,1981"

# Email Configuration (for Flask-Mail)
MAIL_SERVER='smtp.gmail.com'
MAIL_PORT='587'
MAIL_USE_TLS='True'
MAIL_USERNAME='your_app_email@gmail.com'
MAIL_PASSWORD='your_app_password' 
MAIL_DEFAULT_SENDER='FF Tech WebAudit <your_app_email@gmail.com>'
