# nixpacks.toml
[phases.setup]
  nixLibs = [
    "glib",
    "pango",
    "libjpeg",
    "libpng",
    "zlib",
    "freetype",
    "fontconfig",
    "libxml2",
    "libxslt",
    "cairo",
    "gdk-pixbuf",
    "atk",
    "gtk3",
    "harfbuzz",
    "libwebp"
  ]
  aptPkgs = ["libgirepository-1.0-1", "libglib2.0-dev", "libcairo2-dev", "libpango1.0-dev", "libgdk-pixbuf2.0-dev", "shared-mime-info"]

[start]
  cmd = "gunicorn app:app --bind 0.0.0.0:$PORT --workers 2 --timeout 180 --log-level info"
