# Force Python environment
[phases.setup]
nixPkgs = [
    "python311",
    "pip",
    "pkg-config",
    "cairo",
    "pango",
    "glib",
    "gobject-introspection",
    "libxml2",
    "libxslt",
    "fontconfig"
]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.start]
cmd = "gunicorn --bind 0.0.0.0:$PORT app:app"
